@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/BEBASNEUE-REGULAR.TTF') format('truetype')
  }

  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/BEBASNEUEBOLD.OTF') format('truetype')
  }

  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/BEBASNEUELIGHT.OTF') format('truetype')
  }

  /* roboto-regular - latin */
/* @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-regular.eot'); IE9 Compat Modes
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'), 
         url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), 
         url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); 
  } */
  /* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('../fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto') format('svg'); Legacy iOS */
  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v27-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('../fonts/roboto-v27-latin_cyrillic-700.svg#Roboto') format('svg'); Legacy iOS */
  }
  /* roboto-900 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v27-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('../fonts/roboto-v27-latin_cyrillic-900.svg#Roboto') format('svg'); Legacy iOS */
  }

  @import './reset.css';
  @import './loader.css';

body {
    font-family: 'Bebas Neue';
    box-sizing: border-box;
}

p {
    font-family: 'Bebas Neue';
}

.section-title {
    margin-bottom: 40px;
    font-size: 38px;
    text-align: center;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}

.section-desc {
    margin: 0 auto;
    max-width: 1700px;
}

.overlay {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .2s ease-in-out;

    opacity: 0;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


.header {
    padding-top: 20px;
    position: relative;
}

.header::after {
    content: '';
    width: 50%;
    height: 100%;
    background-image: url('../img/image-04-08-21-06-00.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header__logo {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 450px;
}

.header__top-title {
    margin-top: 100px;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
    max-width: 40%;
    font-weight: 400;
}

.header__top-address {
    margin-top: 40px;
    margin-left: 30px;
}

.header__top-mail {
    font-size: 24px;
    display: block;
    padding-left: 30px;
    background-image: url('../img/mail.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -2px;
}

.header__mid {
    padding: 80px 0 100px 30px;
}

.header__list-title {
    margin-bottom: 10px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    /* font-family: 'Roboto', sans-serif; */
    /* letter-spacing: 2.5px; */
    color: #000;
}

.header__mid-text {
    max-width: 50%;
    margin-bottom: 40px;
    font-size: 52px;
    text-transform: uppercase;
}

.header__mid-btn {
    display: inline-block;
    margin-top: 80px;
    padding: 15px 65px;
    background-color: #f24843;
    border-radius: 50px;
    border: none;
    color: #fff;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Bebas Neue';
    text-align: center;
}

.production {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: rgb(71, 69, 69);
    color: #fff;
    position: relative;
}

.production__list {
    flex-flow: row wrap;
    justify-content: center;
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    list-style: disc;
}

.production__list-item {
    height: 100px;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 250px;
}

.production__list-item-text {
    font-size: 24px;
    /* font-family: 'Roboto'; */
    font-weight: 700;
    text-transform: uppercase;
}

.workshop {
    padding: 40px 0 50px;
    /* background-color: #2e3131; */
    background-image: url('../img/bg-worksop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.workshop__title {
    text-align: center;
    color: #fff;
}

.workshop__desc {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1.5px;
}

.workshop__img {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 40px 0 50px;
}

.workshop__img img {
    max-width: 550px;
    width: 42%;
    margin-bottom: 20px;
    margin-right: 10px;
}

.team {
    padding: 40px 0 50px;
    background-color: rgb(71, 69, 69);
}

.team__title {
    color: #fff;
}

.team__desc {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    line-height: 120%;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1.5px;
}

.team__img-block {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 40%;
}

.team__img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 750px;
}

.stages {
    padding: 40px 0 80px;
    /* background-image: url('../img/bg-stages.jpg'); */
    background-color: rgb(71, 69, 69);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.stages__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
}

.stages__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    min-width: 400px;
    max-width: 450px;
    width: 100%;
    padding: 20px 10px;
    position: relative;
}

.stages__list-item span {
    position: absolute;
    top: -30px;
    left: auto;
    right: auto;
    font-size: 170px;
    color: #f24843;
    opacity: .3;
    /* z-index: -1; */
}

.stages__list-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    text-decoration: underline;
}

.stages__list-desc {
    text-align: center;
    max-width: 300px;
    font-family: 'Roboto';
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.advantages {
    padding: 40px 0 50px;
    /* color: #fff; */
}

.advantages__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin-right: 50px; */
    margin-top: 100px;
}

.advantages__list-item {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    min-width: 456px;
    /* max-width: 500px; */
    /* width: 100%; */
    margin-bottom: 30px;
    position: relative;
}

.advantages__list-title {
    /* text-align: center; */
    /* margin-left: 100px; */
    margin-bottom: 15px;
    /* max-width: 210px; */
    font-size: 24px;
    text-decoration: underline;
}

.advantages__list-desc {
    max-width: 300px;
    /* margin-top: 10px; */
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    /* color: #fff; */
}

.feedback {
    padding: 30px 0 80px;
    background-image: url('../img/bg-feed.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback__title {
    color: #fff;
}

.feedback__form {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.feedback__text,
.feedback__inp {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-family: 'Roboto';
    font-size: 22px;
}

.feedback__text {
    padding-top: 20px;
    height: 150px;
    resize: none;
}

.feedback__btn {
    display: block;
    margin:  0 auto;
    padding: 15px 65px;
    background-color: #f24843;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Bebas Neue';
}

.footer {
    padding: 40px 0 40px;
    background-color: rgb(71, 69, 69);
}

.footer__title {
    text-align: left;
    color: #fff;
}

.footer__address {
    color: #fff;
}

.btn-animate:hover {
    background-color: rgb(248, 3, 3);
    transition: all .4s ease-in-out;
}


@import './media.css';
